/* ====== CARD SECTION ====== */
.cards {
  display: flex;
  gap: 25px;
  margin-top: 20px;
}

.card {
  flex: 1;
  padding: 25px;
  border-radius: 14px;
  color: white;
  min-height: 130px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.18);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s;
  font-family: "Poppins", sans-serif;
}

.card h4 {
  font-size: 15px;
  opacity: 0.8;
  margin-bottom: 6px;
}

.card h2 {
  font-size: 22px;
  margin-bottom: 8px;
}

.card p {
  font-size: 38px;
  font-weight: 700;
}

/* Hover effect */
.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.24);
}

/* BLUE */
.blue {
  background: linear-gradient(135deg, #007bff, #0057d9);
}

/* GREEN */
.green {
  background: linear-gradient(135deg, #00c853, #009624);
}

/* YELLOW */
.yellow {
  background: linear-gradient(135deg, #ffca28, #ffb300);
}


/* ====== GRID SECTION ====== */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  margin-top: 40px;
}

.box {
  background: white;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  font-family: "Poppins", sans-serif;
}

.box h3 {
  margin-bottom: 15px;
  font-size: 18px;
  border-bottom: 3px solid #0066ff;
  display: inline-block;
  padding-bottom: 5px;
}

.box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.box li {
  padding: 8px 0;
  border-bottom: 1px solid #ececec;
  font-size: 15px;
}

/* ====== RESPONSIVE ====== */
@media (max-width: 900px) {
  .cards {
    flex-direction: column;
  }
  .grid {
    grid-template-columns: 1fr;
  }
}
